@import "../../index.scss";
$btnColor1: #ec164c;
h1 {
    text-align: center;
}
.details {    
    p {
        margin: 35px 35px 35px 0 !important; 
        font-size: 1.2em;
    }   
    button.cart1 {
        display: inline-block !important;
        border: 2px solid $btnColor1;
        color: $btnColor1;
        
        &:hover {
            background-color: $btnColor1;
            color: #fff;
        }
    }
    button.cart {
        &:hover {
            background-color: color(basicBlue);
            color: #fff;
        }
    }
}