.cart {
    text-align: center;
    h1 {
        padding: 30px;
    }
    .cartElement {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 300px;        
        h3 {
            color:rgba(237, 22, 77, 0.8);
        }

    }
}