.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1 {
        font-size: 60px;
        @media (max-width: 768px) {
            font-size: 50px;
        }
    }
}