$blueBtn: #007bc6;
$redBtn: #ec164c;
$orangeBtn: #f48021;

.btn {
    padding: 5px 10px;    
    border-radius: 5px;
    font-weight: bold;    
    background-color: #fff;
    margin: 0 15px 35px 0;    

    &:focus {
        outline: none !important;
    }
    &:hover {       
        color: #fff !important;
        cursor: pointer;
    }
}

@mixin buttonColor($btnColor) {
    border: 2px solid $btnColor;
    color: $btnColor;
    &:hover {
        background-color: $btnColor;
    }
}

.blue {
    @include buttonColor($blueBtn);
}
.red{
    @include buttonColor($redBtn);
}
.orange{
    @include buttonColor($orangeBtn);
}
