.wrapDiv {    
    position: relative;
    display: flex; 
    flex-flow: column wrap;    
    align-items: center;      
    background: #f2f2f2;
    min-height: 100vh;
    padding-bottom: 60px;
    h1 {    
        text-align: center;
        padding: 60px 0;     
    }
}
.cardCont {       
    width: 100%;   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  
    @media (min-width: 1200px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
    }    
    @media (max-width: 350px) {
        padding: 0;
    }
}
.infoCard {
    position: relative;
    width: 320px;      
    padding: 40px;
    text-align: justify;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    margin: 15px;
    overflow: hidden;       
    .nova {        
        position: absolute;
        left: 0;
        bottom: 0; 
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1;
        transition: all 0.5s ease-in-out; 
    }
    &:hover .enabled {
        transform: translateY(calc(-100% + 4px)); 
    }   
    &:nth-child(1) > .nova {
        background: #ed174d;       
    }
    &:nth-child(2) > .nova {
        background: #017bc3;       
    }
    &:nth-child(3) > .nova {
        background: #ff4500;       
    }    
    &:hover .enabled~div h3, &:hover .enabled~div p {
        color: #fff !important;
        transition: color .7s;
    }   
    &:hover .enabled ~div h3 i {
        color: #f0efef;
        transition: color .7s;
    } 
    .content {
        position: relative;
        z-index: 2;
    }
    &:nth-child(1) .content i {
        color:#ed174d;
        // text-shadow: 0 0 3px #000;
    }     
    &:nth-child(2) .content i {
        color: #017bc3;      
    }     
    &:nth-child(3) .content i {
        color: #ff4500;       
    }     
    &:nth-child(1) .content span {
        display: block;     
    }     
    .content h3 {
        display: flex;
        align-items: center;      
        justify-content: space-between;
        margin-bottom: 20px;        
        color: #fff; 
        i {
            font-size: 70px; 
        }
        span {
            display: flex;
            justify-content: center;
            width: 150px;
            font-weight: normal;            
        }        
        @media (max-width: 768px) {
            color: #fff !important;
            animation: none !important;
        }    
    }
    .content p {
        font-size: 17px;
        color: #fff;
        height: 225px;
        padding: 10px 0;        
        transition: .5s;
        @media (max-width: 400px) {
            font-size: 14px;
        }    
        @media (max-width: 768px) {
            color: #fff !important;
            animation: none !important;
        }                    
    }
    .content a {
        display: inline-block;
        text-decoration: none;
        margin-top: 20px;
        background: #f2f2f2;
        color: #777;
        padding: 6px 9px;
        font-weight: 600;
        border-radius: 5px;
        position: relative;
        bottom: 0px;
        i {
            position: relative;
            top: 2px;
            padding-left: 2px; 
        }
    }   
    @media (max-width: 400px) {
        width: 100%;
        padding: 30px;
    }   
    @media (max-width: 768px) {
        &:hover .enabled {
            transform: translateY(0px) !important; 
        }  
        h3 i {            
            color: #f0efef !important;
        }   
        &:nth-child(1) {
            background: #ec164c;            
        }
        &:nth-child(2) {
            background: #017bc3;            
        }
        &:nth-child(3) {
            background: #ff4500;            
        }        
    }   
}
@keyframes fillDown {
    0% {        
        bottom: 0;
    }
    100% {       
        bottom: calc(-100% + 4px);        
    }
}
@keyframes colorChange {
    0% {   
        color: #fff;   
    }
    100% {       
        color: #777;
    }
}

