body {
  margin: 0;
  padding-top: 65px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

.product {
  padding: 5px;
  position: relative;
}

.product .loaderDiv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 5px solid #fff;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .card {
  border: 1px solid rgba(184, 185, 185, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product .card h1 {
  text-align: center;
  font-size: 1.8rem;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .3em;
}

.product .card img {
  display: block;
  width: 60%;
  margin: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: scaleOut 2s ease;
          animation: scaleOut 2s ease;
}

.product .card p {
  display: block;
  margin-top: 3em;
  font-weight: bold;
  text-align: center;
}

.product .card a {
  padding-bottom: 25px;
}

.product .card .inCart {
  position: absolute;
  bottom: 65px;
  right: 0;
  background: transparent;
  color: #46c791;
  border: none;
  font-size: 1.4em;
  font-weight: 600;
}

.product .card .cartBtn {
  position: absolute;
  bottom: 100px;
  right: 0;
  -webkit-transform: translate(-700%, 100%);
          transform: translate(-700%, 100%);
  background: transparent;
  border: none;
  color: #cc1515;
  font-size: 1.4em;
  padding: 2px 8px 2px 6px;
  cursor: pointer;
}

.product .card .cartBtn .inCart {
  position: absolute;
  right: -90px;
  bottom: -30px;
  color: #46c791;
}

.product .card .cartBtn:hover {
  color: #46c791;
}

.product .card .cartBtn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .product .card .cartBtn {
    position: absolute;
    right: 0;
    -webkit-transform: translate(-20%, 100%) !important;
            transform: translate(-20%, 100%) !important;
  }
}

.product .card:hover {
  -webkit-box-shadow: 2px 2px 12px #000;
          box-shadow: 2px 2px 12px #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.product .card:hover img {
  -webkit-transform: scale(1.175);
          transform: scale(1.175);
  -webkit-transition: .2s;
  transition: .2s;
}

.product .card:hover .cartBtn {
  display: block;
  -webkit-transform: translate(-20%, 100%);
          transform: translate(-20%, 100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.product .card .cardFooter {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.product .card .cardFooter p {
  margin: 35px;
  font-size: 1.2em;
}

.loader {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.loader .face {
  position: absolute;
  border: 2px solid #7a889c8c;
}

.loader .face .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.loader .face .circle:before {
  content: "";
  position: absolute;
  top: -4px;
  right: -7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
}

.loader .face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border-left: 2px solid #ff0;
  border-top: 2px solid #ff0;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
}

.loader .face1 .circle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.loader .face1 .circle:before {
  background: #ff0;
  -webkit-box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 255, 0.1);
}

.loader .face2 {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border-right: 2px solid #03a9f4;
  border-bottom: 2px solid #03a9f4;
  animation: loading 3s linear infinite reverse;
}

.loader .face2 .circle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.loader .face2 .circle:before {
  background: #03a9f4;
  -webkit-box-shadow: 0 0 20px #03a9f4, 0 0 40px #03a9f4, 0 0 60px #03a9f4, 0 0 80px #03a9f4, 0 0 100px #03a9f4, 0 0 0 5px rgba(0, 183, 255, 0.1);
          box-shadow: 0 0 20px #03a9f4, 0 0 40px #03a9f4, 0 0 60px #03a9f4, 0 0 80px #03a9f4, 0 0 100px #03a9f4, 0 0 0 5px rgba(0, 183, 255, 0.1);
}

@media (min-width: 420px) and (max-width: 992px) {
  .card .cartBtn {
    -webkit-transform: translate(-1000%, 100%) !important;
            transform: translate(-1000%, 100%) !important;
  }
  .card:hover .cartBtn {
    -webkit-transform: translate(-20%, 100%) !important;
            transform: translate(-20%, 100%) !important;
  }
  .card:hover span {
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
}

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Product.css.map */