@import "../../index.scss";
// #root {
//     background-color:#e9e8e8;
// }
.product {
    padding: 5px;

    .card {  
        border: 1px solid rgba(184, 185, 185, 0.5);
        box-sizing: border-box;            
    
        h1 {
            text-align: center;
            font-size: 1.8rem;
            height: 80px;
            display: flex;       
            justify-content: center;
            padding-top: .3em;
        }
        img {
            display: block;
            width: 60%;
            margin: auto;
            transform: scale(1); 
            animation: scaleOut 2s ease;      
        }
    
        p {
            display: block;
            margin-top: 3em;
            font-weight: bold;
            text-align: center;
        }
        a {
            padding-bottom: 25px;
        }
        .inCart {
            position: absolute;
            bottom: 65px;
            right: 0;
            background: transparent;
            color: color(green);
            border: none; 
            font-size: 1.4em;
            font-weight: 600;
        }
        .cartBtn {
            // display: none;
            position: absolute;
            bottom: 100px;
            right: 0;
            transform: translate(-700%,100%);  
            background: transparent;    
            border: none;    
            color: color(red);
            font-size: 1.4em;
            padding: 2px 8px 2px 6px;
            cursor: pointer;
            .inCart {
                position: absolute;
                right: -90px;
                bottom: -30px; 
                color: color(green);
            }
            &:hover {
                color: color(green);
            }
            &:focus {
                outline: none;
            }         
        }        
        &:hover {
            box-shadow: 2px 2px 12px #000;
            transition: .2s;
        }
        &:hover img{
            transform: scale(1.175);
            transition: .2s;
        }
        &:hover .cartBtn{
            display: block;
            transform: translate(-20%, 100%);         
            transition: .7s;            
        } 
        .cardFooter {           
            position: relative;
            height: 100px;
            overflow: hidden;
            p {
                margin: 35px;
                font-size: 1.2em;
            }        
        }
    }
}
@media (min-width: 420px) and (max-width: 992px) {
    .card {
        .cartBtn {
            transform: translate(-1000%, 100%) !important;       
        }    
    
    &:hover .cartBtn{       
        transform: translate(-20%, 100%) !important;  
    }  
    &:hover span {
        transform: translate(0.0)!important; ; 
    }
}
}
@keyframes scaleOut {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}



