.contactInfo {
    background: #f2f2f2;   
    height: 100vh;   
    background: url("../../images/cityPhone.jpg") no-repeat center; 
    background-size: cover;
    h1 {
        color: #fff;
    }
    .wrap {
        background: #31506fc7;
        width: 100%;
        height: 100%;
        padding: 60px;
    }
    h1 {
        @media (max-width: 400px) {
           font-size: 35px;
        }
    }       
}