$phones: 768px;
$tablet: 996px;
$laptop: 1140px;
$smallres: 560px;
$small: 515px;
$small1: 420px;

@mixin responsive($device) {
    @media (max-width: #{$device}) { 
        @content;
    }  
}
.news {
    width: 70%;
    height: 180px;
    padding: 0;
    margin: 2px 150px;
    border: 2px solid #a09f9f;   
    display: flex;   
    transform: translateX(-100px);     
    .image {
        box-sizing: border-box;  
        min-width: 278px;  
        margin: -2px;  
        @include responsive($laptop) { 
            min-width: 0px;            
            height: auto;
        }     
        img {
            width: 100%;  
            max-height: 180px;
            height: 180px; 
            width: 278px;      
            padding: 2px;       
            @include responsive($laptop) { 
                width: 100%;
                height: auto;
            }             
        }   
    }
    .text {       
        width: 76%;   
        padding: 10px 20px;
        text-align: justify;
        background: #f7f7f7;
        h5 {
            font-size: 17px;
            font-weight: bold;
            color: #ec164c;
            text-align: left;
            @include responsive($tablet) { 
                font-size: 17px;
            }  
            @include responsive($small) { 
                font-size: 16px;
            }    
            @include responsive($small1) { 
                font-size: 15px;
            }  
        }
        p {
           max-height: 100px;
           overflow: hidden;    
           margin: 0;
           font-size: 13px;
           display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical; 
            @include responsive($laptop) {                 
                -webkit-line-clamp: 3;
            }       
            @include responsive($phones) { 
                font-size: 15px;
                -webkit-line-clamp: 2;
            }      
            @include responsive($small) { 
                display: none;                
            }                                     
        }        
        a {
            display: flex;
            align-items: center; 
            justify-content: flex-end;
            line-height: 25px;
            margin: 5px 0;
            font-size: 13px;
            i {
                margin: 2px 5px 0 5px;   
            }
            &:hover {
                color: red;
                text-decoration: none;
            }
        }
        @include responsive($small) { 
            padding: 10px 15px;              
        }       
    }
    @include responsive($phones) { 
        margin: 5px 100px;
        width: 100%;            
    }
}