.scrollTop {
    position: relative;        
    .toTopBtn {
        position: fixed;       
        right: 10px;
        bottom: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: #fff;
        background: #cc1036c7; 
        border: 2px solid #fff; 
        transition: .2s;   
        &:hover {
            background: #cc1036;
        }    
        &:hover i {
            font-size: large;           
        }
    }  
}
 